@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

body{
    font-family: Montserrat;

}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}
*{
    margin: 0;padding: 0;
    list-style: none;
    text-decoration: none;
}
.link-pic{
    text-decoration: none;
    color: white;
}



#art1{
    width: 100%;
    height: 70%;
    background-image: url('../Picture/avion.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#form{
background-color: aliceblue;
width: 50%;
height: 65%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}

#sec-titre{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
#sec-form1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
#sec-form2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
#sec-form3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
#art2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sec-titre2{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#p-titre{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#usa{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/canyon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#birmanie{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/pagode.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#tokyo{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/tokyo-neon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#sf{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/gate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#canada{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/canada.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#bolivie{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/bolivie2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
h3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color:rgb(0, 0, 0, 0.4)
}
.text-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color:rgb(0, 0, 0, 0.4)
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
  }