@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
/* same settings for voyage4.css*/

/* Global settings */
body{
    box-sizing: border-box;
    margin: 0;padding: 0;
    background-color:#24252A;
    line-height: 1.5;
}

p{
    color: white;
    margin-bottom: 5em;
}




/* nav */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    background-color: #3a3a3a;
    width: 100%;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    

}


header  a {
    color: white;
    margin: 0 15px;
    font-size: 1.3em;
}


header button{
    color: white;
    margin: 0 15px;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
header .dropdown-1{
    position: relative;
    height: 100%;
    display: flex;
}
header .dropdown-1 .content{
    display: none;
}

header .content a{
    color: black;
    display: flex;
    justify-content: center;
}

header .dropdown-1:hover .content{
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(245, 245, 245);
    top: 70px;
    width: 120%;
    padding: 8px 15px;
    box-sizing: border-box;
}


header .icon{
    display: none;
}

@media (max-width: 600px){
    header{
    margin-top: -20px;
    }
    header a{
        display: none;
    }

    header button{
        display: none;
    }

    header .icon {
        display: block;
        position: absolute;
        right: 0;
        width: 5% !important;
        text-align: center;
        padding: 0!important;
    }

    header.responsive a {
        display: block;
        padding: 10px 0;
    }
    header.responsive .dropdown-1{
        display: block;
        width: 100%;
    }

    header.responsive button{
        display: block;
        padding: 10px 0;

    }

    header{
        flex-direction: column;
        min-height: 70px;
        top: 20px;
        height: 100%;
        align-items: flex-start;

    }



    
header .dropdown-1:hover .content{
   position: relative;
   width: 100%;
   top: 0;
} 
}
/* nav */ 


/* content for fun */
#voyagezz{
    color: #FAF2EA;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

body{
    font-family: Montserrat;
    height: 100%;

}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
.link-pic{
    text-decoration: none;
    color: white;
}



#art1{
    width: 100%;
    height: 70%;
    background-image: url('../Picture/avion.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#form{
background-color: aliceblue;
width: 50%;
height: 65%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}

#sec-titre{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
#sec-form1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
#sec-form2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
#sec-form3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
#art2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sec-titre2{
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#p-titre{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#usa{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/canyon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#birmanie{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/pagode.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#tokyo{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/tokyo-neon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#sf{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/gate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#canada{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/canada.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#bolivie{
    width: 40%;
    height: 70%;
    background-image: url("../Picture/bolivie2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}


h3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color:rgb(0, 0, 0, 0.4)
}
.text-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color:rgb(0, 0, 0, 0.4)
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
  }




/*footer*/

.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
ul{
	list-style: none;
}


.containerfooter{
	max-width: 1170px;
	margin:auto;
}
.footermel{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 100%;
    height: 100%;
   
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    main{
        margin-top: 5%;
    }

    .footermel{
        margin-top: 350%;
    }
    footer{bottom: 0;
    height: 400px;
    
}
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/*Footer*/
















