*{
    margin:0%;
    padding:0%;
}
.section1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-basis: auto;
    
    
}
.bolivie1{
    width: 90%;
    height: 50%;
   
}
.bolivie2{
    width: 70%;
    height: 50%;
   
   
}
.bolivie2{
    padding-left: 4%;
}
.photomine{
    width: 70%;
    height: 50%;
    
}