@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
*{
    padding: 0%;
    margin: 0;
    
}
body{
font-family: 'montserrat',sans-serif
}

.presentation{
 width: 90%;
 margin: auto;
 font-size: 20px;
 line-height: 25px;
}
.route66{
width: 100%;
 height: 80vh;
}
h1{
 text-align: center;
 color: orangered;
}
main{
 text-align: center;
 background-color: #EEEEEE;
   
}

    

.section1{
  
 display: flex;
justify-content: space-around;
background-color: #EEEEEE;
padding-top: 8%;
}
.denver{
 width: 100%;
 
    
    
    
}
.denvere{
border-radius: 1%;
width: 30%;
border: solid black 1px;
background-color: white;
    
    
  

}
.titre-denver{
color: orangered;
}
.mount{
    
width: 100%;
}
.mounte{

background-color: white;
border-radius: 1%;
width: 30%;
border: solid 1px black;
}
.titremount{
color: orangered;
}
.gunnison{
width: 100%;


}
.titreblack{
color: orangered;
}
.gunnis{
border-radius: 1px;
border: solid black 1px;
width: 30%;
background-color: white;
}
.section2{
display: flex;
justify-content: space-around;
padding-top: 4%;
background-color:#EEEEEE ;
}
.logo{
width: 14%;
}
.disney{
width: 100%;
}
.gare{
width: 100%;
}
.venice{
width: 100%;
}
.Disney{
width: 30%;
border-radius: 1%;
width: 30%;
border: solid black 1px;
background-color: white;
   
}
.titredisney{
color: orangered;
}
.gar{
width: 100%;
height: 40vh;
}
.titregare{
color: orangered;
}
.venic{
width: 30%;
text-align: center;
border-radius: 1%;
width: 30%;
 border: solid black 1px;
 background-color: white;
    
}
.titrelos{
color: orangered;
}
.Venice{
height: 20%;
   
}
.Gare{
width: 65%;
text-align: center;
 border-radius: 1%;
width: 30%;
border: solid black 1px;
background-color: white;
}
.los{
width: 100%;
height: 45vh;
}
.video{
    
background-color:white;
padding: 2%;
margin-top: 2%;

}
.description{
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}

.desc{
width: 50%;
font-size: 20px;
}
.titrevideo{
text-align: center;
}
.video1{
margin-top: 4%;
text-align: center;
    
}
.video2{
 margin-top: 4%;
}
.dernievideo{
 margin-top: 4%;
 font-size: 35px;

   
}
.visa{
color: orangered;
}
.info{
display: flex;
justify-content: center;
justify-content: space-evenly;
}
.infopratique{
 margin-left: 10rem;
margin-right: 10rem;
background-color: #FFF;
padding: 2rem;
box-shadow: 10px 10px 0px 0px #ff4d42;
 height: 100%;
 width: 19%;
}
.info2{
margin-left: 10rem;
margin-right: 10rem;
background-color: #FFF;
padding: 2rem;
box-shadow: 10px 10px 0px 0px #ff4d42;
height: 100%;
width: 19%;
}
.new input{
    margin-bottom: 10px;
    

}
.value{
    border: 1px solid grey;
    border-radius: 3px;
    padding: 8px ;
    transition: all 0.5 ease;
    width: 30%;
    margin-top: 2%;
    
   
} 
.value:hover{
    background-color:#F0F0F0;
    color: orangered;
}
.valuee{
    background-color: white;
    border: 1px solid black;
    width: 80px;
    width: 20%;
    padding: 5px;
   
}






