*{
    margin:0%;
    padding:0%;
}
h1{
    text-align: center;
}
.sectionp{
    
    width: 80%;
    margin: auto;
    
}
.paragraphe1{
    line-height: 30px;
    margin-top: 10px;
}
.paragraphe2{
    line-height: 30px;
    margin-top: 3%;
}
.paragraphe3{
    line-height: 30px;
    margin-top: 3%;
}
.paragraphe4{
   line-height: 30px; 
   margin-top: 3%;
}
hr {
    height: 1px;
    margin: -0.5em 0;
    padding: 0;
    color:#e9ecef;
    background-color:#e9ecef;
    border: 0;
    margin-top: 4%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
.section1{
    display: flex;
   justify-content: center;
   width: 80%;
   margin: auto;
   margin-top: 5%;
    
    
    
    
    
}

.section1 div{
    width: 33%;
    margin: 1%;
}
.titrep{
    font-size: 25px;

}
.bolivie1{
    width: 90%;
    
}
.bolivie2{
    width: 90%;
    
   
   
}

.photomine{
    width: 93%;
    
    
}
.section2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    margin-top: 5%;
    
    
}
.section2 div{
    width: 33%;
   
}
.cholita{
    
    width: 90%;
    flex-basis: auto;
   
}
.elchoro{
   
   
   width: 90%;
}
.elchoro{
width: 90%;
}
.voyagebolivie{
   
   width: 90%;

}