@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

body{
    font-family: Montserrat;
}
main{
    display: flex;
    flex-wrap: wrap;
}

*{
    margin: 0;padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: #3a3a3a;
    width: 100%;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    

}


header  a {
    color: white;
    margin: 0 15px;
    font-size: 1.3em;
    
}


header button{
    color: white;
    margin: 0 15px;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
header .dropdown-1{
    position: relative;
    height: 100%;
    display: flex;
}
header .dropdown-1 .content{
    display: none;
}

header .content a{
    color: black;
    display: flex;
    justify-content: center;
}

header .dropdown-1:hover .content{
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(245, 245, 245);
    top: 70px;
    width: 120%;
    padding: 8px 15px;
    box-sizing: border-box;
}


header .icon{
    display: none;
}

@media (max-width: 600px){
    header{
        margin-top: -20px;
        }
    header a{
        display: none;
    }

    header button{
        display: none;
    }

    header .icon {
        display: block;
        position: absolute;
        right: 0;
        width: 5% !important;
        text-align: center;
        padding: 0!important;
    }

    header.responsive a {
        display: block;
        padding: 10px 0;
    }
    header.responsive .dropdown-1{
        display: block;
        width: 100%;
    }

    header.responsive button{
        display: block;
        padding: 10px 0;

    }

    header{
        flex-direction: column;
        min-height: 70px;
        top: 20px;
        height: 100%;
        align-items: flex-start;

    }



    
header .dropdown-1:hover .content{
   position: relative;
   width: 100%;
   top: 0;
} 
}
#art1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#art2{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}
.sec1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width:100%;
    height:100vh;
    background-image: url(../Picture/canada.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    padding: 10%;
    font-size:150%;
    margin-bottom: 3%;
}
.sec2{
    width:45%;
    border: 1px solid #808080;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: -webkit-center;
    margin:1%;
}
.img-pres{
    margin-top: 2%;
}
#art3{
    width:40%;
    background-color: #EBECF0;
    padding:2%
}
#div-contact{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#art4{
    text-align: center;
    border: 3px solid black;
    margin-top: 3%;
    margin-bottom:3%
}

#myButton{
    box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
#myButton:active {
	position:relative;
	top:1px;
}
#art6{
    width:100%;
    height: 30%;
    background-color: #EBECF0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}
#email{
    margin-bottom: 2%;
    border: 0px;
    color: rgb(29, 37, 44);
    display: block;
    float: left;
    font: 700 21px / 21px mv-fonts-lato;
    height: 80%;
    letter-spacing: normal;
    padding: 0px 0px 0px 30px;
    text-align: left;
    width: 82%;
}
#button-mail {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    margin-bottom: 3%;
}
#button-mail:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
#button-mail:active {
	position:relative;
	top:1px;
}
#art5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#titre-icone{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.icone{
    margin-bottom: 6%;
}
.text-incone{
    width: 100%;
}
.sec5{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}
.icone:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    transition-duration: 1s;
}
#h2-icone{
    margin-bottom: 3%;
}