.section1{
    display: flex;
    justify-content: space-around;
}
.denver{
    
    width: 100%;
    
    
}
.denvere{
    border-radius: 1%;
    width: 30%;
    border: solid black 1px;
    
    
  

}
.mount{
    /* height: 75%; */
    width: 100%;
}
.mounte{

    border-radius: 1%;
    margin: auto;
    width: 30%;
    border: solid 1px black;
    
    
   
}
.gunnison{
    width: 100%;


}
.gunnis{
    border-radius: 1px;
  border: solid black 1px;
    width: 30%;
}
.section2{
    display: flex;
}


